/* Estructura General */
.container {
    max-width: 1200px;
    margin: 0 auto; 
    padding: 16px;
  }
  
  /* Título */
  header h1 {
    font-size: 28px;
    color: #3f51b5;
  }
  
  /* Buscador y Botón */
  header .d-flex {
    gap: 16px; 
  }
  
  mat-form-field {
    width: 100%;
    max-width: 75%;
    margin-bottom: 16px;
  
    input {
      font-size: 16px;
      padding: 8px;
    }
  
    mat-label {
      font-weight: 500;
      font-size: 14px;
      color: #3f51b5;
    }
  }
  
  /* Botón Crear Usuario */
  button[routerLink="/users/create"] {
    font-size: 14px;
    font-weight: 500;
    white-space: nowrap; 
    margin-left: 32px; 
  }
  
  /* Tabla */
  table {
    th {
      font-weight: 600;
      color: #3f51b5;
      background-color: #f3f6f9;
      padding: 16px;
      text-align: center; 
    }
  
    td {
      padding: 16px;
      text-align: left;
      background-color: #fff;
    }
  
    tr:hover td {
      background-color: #f9f9f9;
    }
  }
  
  /* Tarjeta de la Tabla */
  mat-card {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
  }
  
  /* Pie de Página */
  .footer {
    display: flex;
    justify-content: center; 
    align-items: center; 
    text-align: center; 
    margin-top: 16px;
    font-size: 14px;
    color: #999;
    height: 60px; 
    background-color: #f9f9f9; 
  }
  
  .success-message {
    color: #4caf50; 
    font-size: 16px;
    margin: 16px 0;
    font-weight: 500;
    text-align: center;
    background-color: #e8f5e9; 
    padding: 10px;
    border: 1px solid #4caf50;
    border-radius: 4px;
  }
  
  .success-snackbar {
    background-color: #4caf50; 
    color: white;
    font-size: 16px;
    text-align: center;
  }
  